# Compiled output
/dist

# Node
/node_modules
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular

# System files
.DS_Store
Thumbs.db
