@use "@angular/material" as mat;

html,
body {
  height: 100%;
}

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body.system,
body:not(.light):not(.dark) {
  color-scheme: light dark;
}

body.light {
  color-scheme: light;
}

body.dark {
  color-scheme: dark;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
}

router-outlet {
  display: none;
}
