@use "@angular/material" as mat;

html,
body {
  height: 100%;
}

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.strong-focus-indicators();
}

body {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
}

router-outlet {
  display: none;
}
