// TailwindCSS

@tailwind utilities;

// Base

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #fefefe;
  @media (prefers-color-scheme: light) {
    background-color: #fefefe;
    color: #101010;
  }
}
