// Angular Material

@use '@angular/material' as mat;
@include mat.core();
// prettier-ignore
$my-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$gray-palette),
    accent: mat.define-palette(mat.$brown-palette),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.all-component-themes($my-theme);

// TailwindCSS

@tailwind utilities;

// Base

*,
::before,
::after {
  box-sizing: border-box;
}
